[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
coveralls = "*"
pipenv-to-requirements = "*"
mypy = "*"
black = "*"

[packages]
requests = "*"
pywikibot = {git = "https://phabricator.wikimedia.org/diffusion/PWBC/pywikibot.git"}
requests-oauthlib = "*"
mwparserfromhell = "*"
pillow = "*"
ssim-pil = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
