[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
coveralls = "*"
pipenv-to-requirements = "*"

[packages]
requests = "*"
pywikibot = {git = "https://phabricator.wikimedia.org/diffusion/PWBC/pywikibot.git"}
requests-oauthlib = "*"
beautifulsoup4 = "*"
mwparserfromhell = "*"

[requires]
python_version = "3.7"
