[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
coveralls = "*"
pipenv-to-requirements = "*"
mypy = "*"
black = "*"

[packages]
requests = "*"
pywikibot = "*"
requests-oauthlib = "*"
mwparserfromhell = "*"
pillow = "*"
waybackpy = "*"
imagehash = "*"
click = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
